
    <div class="col s12 m6">
      <div class="card teal darken-3">
        <div class="card-content white-text">
          <span class="card-title">{{proprietaire.getNomEntier}}</span>
          <p>Possède {{proprietaire.getnbChatons}} chatons</p>
        </div>
      </div>
    </div>
