{% extends 'base.html.twig' %}

{% block title %}Super Chaton{% endblock %}

{% block body %}

    <h1>Les chatons de {{proprietaire.getNomEntier}} ({{proprietaire.getnbChatons}})</h1>

    <div class="row">
        {% for chaton in proprietaire.getChatons %}

            {% include "proprietaire/_chaton.html.twig" %}


        {% endfor %}
    </div>


{% endblock %}
