<div class="col m4">
      <div class="card">
        <div class="card-image">
          <img src="/photos/{{ nomDuDossier }}/{{ fichier.filename|url_encode }}" >
          <span class="card-title">{{fichier.filename}}</span>
        </div>       
      </div>
    </div>