{% extends 'base.html.twig' %}

{% block body %}

<h1>Dossier : {{ nomDuDossier}}</h1>

<div class="row">
{% for fichier in fichiers %}

    {% include "home/_vignette.html.twig" %}


{% endfor %}
</div>
<div>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
{% endblock %}



